<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:calculator.properties"/>
    <bean id="minus"
          class="org.example.xmlConfig.MinusService">
    </bean>
    <bean id="plus"
          class="org.example.xmlConfig.PlusService">

    </bean>
    <bean id="calculator"
          class="org.example.xmlConfig.Calculator">
        <property name="minusService" ref="minus"/>
        <property name="plusService" ref="plus"/>
        <property name="a" value="${calculator.a}"/>
        <property name="b" value="${calculator.b}"/>
    </bean>
</beans>
